@font-face {
    font-family: "Geist";
    src: url("/fonts/Geist[wght].woff2") format("woff2");
}

@font-face {
    font-family: "GeistMono";
    src: url("/fonts/GeistMono[wght].woff2") format("woff2");
}